button:not(.unstyled, .tag),
.btn {
  --btn-color: var(--slate);
  --fl: 0;

  appearance: none;
  margin: 0;

  cursor: pointer;
  user-select: none;

  background-color: color-mix(in oklch, var(--btn-color) 4%, white);
  color: color-mix(in oklch, var(--btn-color) 60%, black);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: var(--border-1);
  border-color: color-mix(in oklch, var(--btn-color) 80%, white);
  border-radius: var(--br-s);
  padding: var(--pad-s) var(--pad-xl);

  transition: background-color 0.2s var(--ease-smooth);

  &:hover:not(:disabled) {
    background-color: color-mix(in oklch, var(--btn-color) 18%, white);
  }

  &:active:not(:disabled) {
    background-color: color-mix(in oklch, var(--btn-color) 25%, white);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 2px solid color-mix(in oklch, var(--btn-color) 80%, black);
    outline-offset: 2px;
  }

  &.primary {
    --btn-color: var(--blue);
  }
  &.success {
    --btn-color: var(--green);
  }
  &.error {
    --btn-color: var(--red);
  }
  &.warning {
    --btn-color: var(--yellow);
  }

  &.block {
    width: 100%;
  }

  &.sm {
    padding: var(--pad-s);
    --fl: -0.25;
    line-height: var(--lh-xs);
  }
}
