dialog:not(.unstyled) {
  max-width: 40ch;
  width: calc(100% - var(--pad-xxl) * 2);
  overflow: visible;

  opacity: 1;
  scale: 1;
  transition:
    opacity 0.2s var(--ease-smooth),
    scale 0.2s var(--ease-smooth),
    overlay 0.2s var(--ease-smooth) allow-discrete,
    display 0.2s var(--ease-smooth) allow-discrete;
  
  padding: var(--pad-xl);

  border: none;
  border-radius: var(--br-m);

  background-color: var(--slate-1);
  &::backdrop {
    background-color: oklch(from var(--slate-8) l c h / 0.8);
  }
  &:not([open]) {
    opacity: 0;
    scale: 0.95;
  }
}

@starting-style {
  dialog[open]:not(.unstyled) {
    opacity: 0;
    scale: 0.95;
  }
}

@media (prefers-reduced-motion) {
  dialog:not(.unstyled){
    transition: none;
  }
}