@import "reset.css";

@import "tokens.css";
@import "typography.css";
@import "utilities.css";
@import "layout.css";

@import "components/button.css";
@import "components/dialog.css";
@import "components/forms.css";
@import "components/alert.css";
@import "components/tag.css";

@media (prefers-reduced-motion) {
  * {
    transition-duration: 0s !important;
  }
}
